<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Mongoose Flights</title>
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/flights">All Flights</a>
      <a href="/flights/new">New Flight</a>
    </div>
    <h2>Add Ticket</h2>
    <form
      id="add-ticket-form"
      method="POST"
      action="/flights/<%=flight._id%>/tickets"
    >
      <label
        >Seat:<input name="seat" required pattern="[A-F][1-9]\d?" /></br><i
          >
          (first character must be A-F, second character must be 1-99)</i
        ></br>
      </br></label
      >
    

      <label>Price:</label>
      <input name="price" required />
  </br>
</br>
      <input type="submit" value="Add Ticket" />
    </form>
  </body>
</html>
