<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Mongoose Flights</title>
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/flights">All Flights</a>
      <a href="/flights/new">New Flight</a>
    </div>
    <div>Add Ticket</div>
    <form id="add-ticket-form" method="POST" action="/flights/<%=flight._id%>">
      <label>Seat:</label>
      <input name="seat" required pattern="[A-F][1-9]\d?" />

      <label>Price:</label>
      <input name="price" required />
      <input type="submit" value="Add Ticket" />
    </form>
  </body>
</html>
