<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Mongoose Flights</title>
  </head>
  <body>
    <h1>All Flights</h1>
    <table>
      <thread>
        <tr>
          <th>Airline</th>
          <th>Airport</th>
          <th>Flight No</th>
          <th>Departure Date and Time</th>
        </tr>
      </thread>
      <tbody>
        <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
