body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
tr:nth-child(odd) {
  background-color: lightblue;
}

a {
  color: darkblue;
}

.topnav {
  background-color: #00b7ff;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
}

.topnav a:hover {
  color: white;
}

.flight-table {
  text-align: left;
  display: grid;
  grid-template-areas:
    "hdr hdr hdr hdr"
    "key key key key"
    "content content content content";
  grid-template-rows: 1fr 1fr 100%;
  grid-template-columns: 2fr 1fr 1fr 6fr;
}

#hdr {
  grid-area: hdr;
}

.flight-table .key {
  grid-area: key;
}

.flight-table .content {
  grid-area: content;
}

#flight-table-key {
  background-color: white;
}

#show-page {
  padding-top: 70px;
}

#show-table {
  text-align: left;
}

#show-table-key {
  background-color: white;
}
#show-table-contents {
  text-align: left;
  background-color: lightblue;
}

.ticket-info,
.destination-info {
  background-color: lightblue;
}

#add-ticket,
#new-flight,
#hdr {
  padding-top: 70px;
}
