body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.topnav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.topnav a:hover {
  color: red;
}

.flight-table {
  text-align: left;
  display: grid;
  grid-template-areas:
    "hdr hdr hdr hdr"
    "key key key key"
    "content content content content";
  grid-template-rows: 1fr 1fr 100%;
  grid-template-columns: 2fr 1fr 1fr 6fr;
}

#hdr {
  grid-area: hdr;
}

.flight-table .key {
  grid-area: key;
}

.flight-table .content {
  grid-area: content;
}
