body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.topnav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.topnav a:hover {
  color: red;
}

.flight-table {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 3fr; */
  grid-template-areas: 
  "hdr"
  "key"
  "content";
}

.flight-table .hdr {
  grid-area: "hdr"
}

.flight-table .key {
  grid-area: "key";
}

.flight-table .content {
  grid-area: "content";
}



